/*媒体查询*/
@media screen and (max-width: 300px) { html { font-size: 16px!important; } }
@media screen and (min-width: 320px) { html { font-size: 17.066666667px!important; } }
@media screen and (min-width: 360px) { html { font-size: 19.2px!important; } }
@media screen and (min-width: 375px) { html { font-size: 20px!important; } }
@media screen and (min-width: 400px) { html { font-size: 21.33333333px!important; } }
@media screen and (min-width: 412px) { html { font-size: 21.9733333333px!important; } }
@media screen and (min-width: 414px) { html { font-size: 22.08px!important; } }
@media screen and (min-width: 500px) { html { font-size: 26.666666667px!important; } }
@media screen and (min-width: 600px) { html { font-size: 32px!important; } }
@media screen and (min-width: 700px) { html { font-size: 37.333333333px!important; } }
@media screen and (min-width: 768px) { html { font-size: 40.96px!important; } }
@media screen and (min-width: 800px) { html { font-size: 42.666666667px!important; } }
@media screen and (min-width: 900px) { html { font-size: 48px!important; } }
@media screen and (min-width: 1000px) { html { font-size: 53.3333333333px!important; } }
@media screen and (min-width: 1024px) { html { font-size: 54.61333333333px!important; } }
@media screen and (min-width: 1366px) { html { font-size: 72.85333333333px!important; } }
@media screen and (min-width: 1920px) { html { font-size: 102.4px!important; } }
*{
	padding: 0;
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	font-size: 20px;
	overflow: hidden;
}