<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大前端的养成之路</title>
	<link rel="manifest" href="./mainfest.json">
	<style>
		.ms-controller{
		   visibility: hidden
		}
	</style>
</head>
<body>
	<div id="app" class="ms-controller" ms-controller="app">
		<div class="bg-header">
			
		</div>
		<!-- 固定在顶部的标题 -->
		<div class="contentHeader-subheading" :visible="@pageToTop">
			<span class="portrait" :click="@headerClick"></span>
			<span class="name" ms-text="@name"></span>
			<span class="title">{{@projectName}}</span>
		</div>
		<!-- 固定在顶部的标题 -->
		<div class="content" :scroll="@pageScroll">
			<div class="contentHeader">
				<p class="headerPic"><span class="portrait" :click="@headerClick"></span><span class="name" ms-text="@name"></span></p>
				<p class="title" id="projectName">{{@projectName}}</p>
			</div>
			<div ms-html="@view">
				
			</div>
		</div>
	</div>
</body>
</html>